@model IEnumerable<Gameblog.Models.Photo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imageName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timeStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Review.name)
        </th>
        <th></th>
    </tr>

      @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timeStamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Review.name)
        </td>
        <td>
            @{
                
                
    var newFileName = item.imageName;
    var imageThumbPath = "";
    imageThumbPath = @"images\thumbs\" + newFileName;

    <div class="result">
        <img src="~/@imageThumbPath" alt="Thumbnail image" />
        @*<a href="~/@Html.AttributeEncode(imagePath)" target="_Self">
            View full size
        </a>*@
    </div>
       
               
                }
                
<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
